---
title: about
description: Alexander Sashnov's home page
keywords: sashnov SDL C++ programming
layout: default
---

<h2>
Hello!
</h2>

<img class="pict" src="img/my_photo3.jpg" >

<p>
My name is Alexander Sashnov. Welcome to my homepage.
</p>

<p>
I live in 
<a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=Novosibirsk,+Russia&amp;ie=UTF8&amp;ll=55.040024,82.929955&amp;spn=0.126691,0.374222&amp;t=k&amp;om=1">Novosibirsk, Russia</a>
and I work at <a href="http://jetico.com/">Jetico Inc, Oy</a>
as a software developer.
</p>

<p>
In my spare time I improve my programming skills, upgrade my knowlege
by reading books, tutorials and by writing small programms.
</p>

<p>
Many of results and usefull links I put into this page for anyone
who interesting it too.
</p>

<p>
Send me any comments, suggestions and other ideas to
<a href="mailto:sashnov@ngs.ru">e-mail</a>.<br />
Use <a href="files/my_gpg_public.key">my GPG key</a> for privacy.
</p>

{% include linux_registered.html %}

{% include get_firefox.html %}

{% include get_openoffice.html %}

{% include google-analytics.js %}
