  <head>
    <title>{{ page.title }} - The Sashnov Alexander's home page</title>
    <style type="text/css" media="all">@import "style/default.css";</style>
    <link rel="shortcut icon" href="img/icon.png" />
    <link rel="Alternate StyleSheet" href="style/black.css" type="text/css" title="Black" />
    <meta name="keywords" content="Sashnov, develop, programming, {{ page.keywords }}" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="author" content="Sashnov Alexander" />
    <meta name="description" content="{{ page.description }}" />
  </head>
